.single--post--container {
  width: 100%;
  height: 100%;
  margin-top: var(--space-1);
  /* padding: var(--space-1); */
}

.back--icon {
  position: fixed;
  left: 5px;
}

.post--content {
  padding-top: var(--space-3);
}

@media screen and (min-width: 480px) {
  .back--icon {
    /* position: fixed; */
    left: 390px;
  }

  .single--post--container {
    max-width: 60%;
    margin-top: var(--space-2);
    margin-left: var(--space-2);
  }

  .back--icon {
    position: sticky;
    left: 260px;
  }
}
