.feed--container {
  width: 100%;
  margin-bottom: 2.7rem;
  position: relative;
  /* padding: var(--space-2); */
}

@media screen and (min-width: 480px) {
  .feed--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 40%;
  }

  .feed--card--container {
    padding: vara(--space-1);
    border: 5px solid red;
  }
}
