.modal--background {
  border: 2px solid salmon;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: hsla(240, 60%, 70%, 0.3);
  display: grid;
  place-items: center;
}
.modal--container {
  position: relative;
  border: 2px solid;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-secondary);
}
.modal--form--item {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid saddlebrown; */
}
.modal--avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid;
  font-size: var(--length-md-1);
  text-align: center;
  background-color: var(--clr-secondary);
  color: var(--clr-black);
  padding-top: 3px;
}
.modal--close--btn {
  position: absolute;
  top: 2px;
  right: 2px;
  border: none;
  color: var(--clr-black);
  font-size: var(--length-md-3);
  background-color: hsla(240, 60%, 70%, 0.01);
}
.modal--textarea {
  text-align: start;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .modal--background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    /* background-color: hsla(240, 60%, 70%, 0.3); */
  }
  .modal--container {
    margin-top: var(--space-4);
    width: 50%;
    height: 50vh;
  }
  .modal--close--btn {
    top: 10px;
    right: 10px;
  }
  .modal--form--item {
    width: 70%;
  }
}
