.login--container {
  /* border: 2px solid orange; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-1);
  margin: var(--space-2) 0;
  height: 100%;
}

.form--submit--btn {
  margin-top: var(--space-3);
}

.login--form {
  /* border: 2px solid; */
  padding: var(--space-4) var(--space-2);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#username,
#password {
  width: 200px;
}

@media screen and (min-width: 840px) {
  .login--container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hero--text {
    margin-right: var(--space-3);
  }
}
