.card--header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.card--avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid;
  font-size: var(--length-md-1);
  text-align: center;
  background-color: var(--clr-secondary);
  color: var(--clr-black);
  padding-top: 3px;
}

.card--header--top {
  display: flex;
}

.card--name {
  font-size: var(--length-md-2);
  display: inline-block;
  /* border: 2px solid green; */
  margin: 0 var(--space-1);
  text-align: start;
}
.card--username {
  margin-left: 2.5rem;
  color: var(--clr-font-label);
  text-align: start;
  font-size: var(--length-sm-3);
}

.card--date {
  margin: 0 0 var(--space-1) var(--space-2);
  color: var(--clr-font-label);
  text-align: start;
  font-size: var(--length-sm-3);
}
.card--date {
  color: var(--clr-font-label);
}
