.card--header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.card--avatar {
  height: var(--space-4);
  width: var(--space-4);
  background-color: black;
  border-radius: 50%;
}

.card--header--top {
  display: flex;
}

.card--name {
  font-size: var(--length-md-2);
  display: block;
  /* border: 2px solid green; */
  margin: 0 var(--space-1);
  text-align: start;
}
.card--username {
  margin-left: 2.5rem;
  color: var(--clr-font-label);
  text-align: start;
  font-size: var(--length-sm-3);
}

.card--date {
  color: var(--clr-font-label);
}
