.navbar--desktop--container {
  display: none;
}

@media screen and (min-width: 480px) {
  .navbar--desktop--container {
    /* border: 2px solid orange; */
    background-color: #e1bee7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 18%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
  }

  .navbar--icon {
    margin-right: var(--space-1);
    display: inline-block;
  }

  .navbar--item--container:first-child {
    margin-top: 4rem;
    /* border: 4px solid yellow; */
  }
  .navbar--item--container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid green; */
    width: 80%;
    margin-bottom: 2rem;
  }
}
