.card--like-comment--container {
  margin-top: var(--space-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: var(--space-2);
  /* margin: var(--space-2) 0 0 2.55rem; */

  /* border-top: 1px solid var(--clr-secondary); */
  /* border: 2px solid; */
}

.react--icon {
  display: inline-block;
}

.likes--count {
  margin-left: -110px;
}

@media screen and (min-width: 480px) {
  .likes--count {
    margin-left: -190px;
  }
  .card--like-comment--container {
    /* padding: 0 var(--space-3); */
    margin-bottom: var(--space-1);
    width: 100%;
  }
}
